doctype html
head
  title Tienda
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='shortcut icon' type='image/x-icon' href='img/favicon.png')
  link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
header#header(style='background-color:rgb(252, 227, 0) ;')
  .container.mt-2
    .row
      .col-md-10
        .logo-izq
          img(src='img/logo.png' alt='logo' width='250' height='136')
      .col-md-2
        .info-der
          button.btn.btn-dark.mt-3.btn-sm(type='button' data-toggle='Iniciar sesión' title='Iniciar sesión') Iniciar sesi&oacute;n
          br
          button.btn.btn-dark.mt-3.btn-sm(type='button' data-toggle='Regístrate' title='Regístrate') Registrarse
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Filtrar
  .dropdown
    button#ciudad.btn.btn-warning.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Ciudad 
    .dropdown-menu(aria-labelledby='dropdownMenu2')
      button.dropdown-item(type='button') Ciudad 1
      button.dropdown-item(type='button') Ciudad 2
      button.dropdown-item(type='button') Ciudad 3
      button.dropdown-item(type='button') Ciudad 4
  .dropdown
    button#RangoPrecio.btn.btn-warning.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Precio 
    .dropdown-menu(aria-labelledby='dropdownMenu2')
      button.dropdown-item(type='button') Menor a Mayor
      button.dropdown-item(type='button') Mayor a Menor
  .dropdown
    button.btn.btn-warning.dropdown-toggle(type='button' id='categorías' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Categor&iacute;as 
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      li.dropdown.dropdown-submenu
        a(classname='dropdown-toggle' href='/' id='categoría1' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Categor&iacute;a 1 
        div(classname='dropdown-menu' aria-labelledby='navbarDropdown')
          a.dropdown-item(id='cat1.1' href='#') Subcategor&iacute;a 1
          a.dropdown-item(id='cat1.2' href='#') Subcategor&iacute;a 2
          a.dropdown-item(id='cat1.3' href='#') Subcategor&iacute;a 3
      li.dropdown.dropdown-submenu
        a(classname='dropdown-toggle' href='/' id='categoría2' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Categor&iacute;a 2 
        div(classname='dropdown-menu' aria-labelledby='navbarDropdown')
          a.dropdown-item(id='cat2.1' href='#') Subcategor&iacute;a 1
          a.dropdown-item(id='cat2.2' href='#') Subcategor&iacute;a 2
      li.dropdown.dropdown-submenu
        a(classname='dropdown-toggle' href='/' id='categoría3' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Categor&iacute;a 3 
        div(classname='dropdown-menu' aria-labelledby='navbarDropdown')
          a.dropdown-item(id='cat3.1' href='#') Subcategor&iacute;a 1
          a.dropdown-item(id='cat3.2' href='#') Subcategor&iacute;a 2
      li.dropdown.dropdown-submenu
        a(classname='dropdown-toggle' href='/' id='categoría 4' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')  Categor&iacute;a 4 
        div(classname='dropdown-menu' aria-labelledby='navbarDropdown')
          a.dropdown-item(id='cat4.1' href='#') Subcategor&iacute;a 1
  form.form-inline.my-2.my-lg-0
    input.form-control.mr-sm-2(type='search' placeholder='Buscar' aria-label='Buscar')
    button.btn.btn-outline-warning.my-2.my-sm-0(type='submit' data-toggle='Buscar' title='Buscar') Buscar
.container
  .row
    // Elementos generados a partir del JSON
    main#items.col-sm-8.row  
    // Carrito
    aside.col-sm-4
      center
        i.fa.fa-shopping-cart.fa-5x(style='color:#fbd300;')
      // Elementos del carrito
      ul#carrito.list-group
      hr
      // Precio total
      p.text-right
        | Total:&amp;dollar; 
        span#total
      button#boton-vaciar.btn.btn-warning Vaciar
      button#boton-pagar.btn.btn-warning Pagar
